In [1]:
india = ["mumbai","banglor","delhi","chennai"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka","khulna","rangpur"]

In [10]:
city = input("enter city name")
if city  in india:
  print(f'{city} is in india')
elif city  in pakistan:
  print(f'{city} is in pakistan')
elif city  in bangladesh:
  print(f'{city} is in bangladesh')
else:
  print("i do not know")

enter city name dhaka

dhaka is in bangladesh

In [19]:
city1 = input("enter first city")
city2 = input("enter 2nd city")
if city1 and city2 in india:
    print("both are in india")
elif city1 and city2 in pakistan:
    print("both are in pakistan")
elif city1 and city2 in bangladesh:
    print("both are in bangladesh")
else:
    print("no")

enter first city islambad
enter 2nd city punjab

no

In [27]:
print("\nexercise1\n")
result = ("heads","tails","tails","heads","tails","heads","tails","tails","tails")
count = 0
for item in result:
    if item == "heads":
     count +=1
print("heads counts is:",count)

exercise1

heads counts is: 3

In [39]:

print("\nExercise 2\n")
for i in range(1,11):
    if i % 2 == 0:
        continue
    print(i*i)

Exercise 2

1
9
25
49
81

In [40]:
expense_list= [2340,2500,2100,3100,2980]
count = 0
expense = input("enter yiur expense"):
for i in range(len(expense_list))
   print

Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,

In [17]:
def calculate_area(dimension1,dimension2,shape="triangle"):
    if shape=="triangle":
        area=1/2*(dimension1*dimension2)
    elif shape=="rectangle":
        area=dimension1*dimension2 
    else:
        print("Error: Input shape is neither triangle nor rectangle.")
        area=None 
    return area

In [18]:
base=10
height=5
triangle_area=calculate_area(base,height,"triangle")
print("Area of triangle is:",triangle_area)

Area of triangle is: 25.0

In [1]:
population = {'china':'43', 'india':'143','India':'136','USA':'32','Pakistan':'21'
}

In [2]:
country['china']

NameError: name 'country' is not defined

In [3]:
prnt_city = input("type print")
if prnt_city=="print":
   for team in country:
    print(team, "==>" ,country[team])

type print china

In [4]:
def add():
    country=input("Enter country name to add:")
    country=country.lower()
    if country in population:
        print("Country already exist in our dataset. Terminating")
        return
    p=input(f"Enter population for {country}")
    p=float(p)
    population[country]=p # Adds new key value pair to dictionary
    print_all()
def remove():
    country = input("Enter country name to remove:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    del population[country]
    print_all()

def query():
    country = input("Enter country name to query:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    print(f"Population of {country} is: {population[country]} crore")

def print_all():
    for country, p in population.items():
        print(f"{country}==>{p}")

In [6]:
def main():
    op=input("Enter operation (add, remove, query or print):")
    if op.lower() == 'add':
        add()
    elif op.lower() == 'remove':
        remove()
    elif op.lower() == 'query':
        query()
    elif op.lower() == 'print':
        print_all()

if __name__ == '__main__':
    main()

Enter operation (add, remove, query or print): bang

In [66]:
prnt_city1 = input("enter city to add")
if prnt_city1 in country:
    print("it exist")

enter city to add bangladesh

In [88]:
population

{'china': '43', 'india': '143', 'India': '136', 'USA': '32', 'Pakistan': '21'}

In [7]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [19]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [25]:
df.loc['31']

KeyError: '31'